#homepage{
    background:url("static/images/extracurricular/abstract_background.jpg"); 
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100% auto;
    background-attachment: fixed; }

