{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    footer{height: 50px; background-color: rgb(59, 59, 4)}
    footer .left{width: 50%;}
    footer .right{width: 50%; text-align: right;float: right;}
    footer .left .social{text-align: center;}

</style>
<div>
    <div class="left">
        <div class="social"><a href="#" class="fa fa-facebook"></a></div>
        <!--
        <div class="social"><a href="#" class="fa fa-google"></a></div>
        <div class="social"><a href="#" class="fa fa-twitter"></a></div>  
        <div class="social"><a href="#" class="fa fa-linkedin"></a></div> 
        -->
    </div>
    <div class="right">
        © 2023 all rights reserved.
    </div>
</div>
