{% load static %}

<div class="heading"><br>SOME OF MY LATEST WORKS<hr></div>
<section class="layout">       
    <div class="work left" >
        <img src="{% static 'images/homepage/taxi_app.png' %}">
        <div class="work_text"> 
            <p>An app to help passengers access rides <br> <br>
            <a href="#Story">An Uber app</a><br>
        </div>
    </div>
    <div class="work middle">
        <img src="{% static 'images/homepage/e_learning.webp' %}">
        <div class="work_text"> 
            <p>A simple online learning platform<br><br>
            <a href="#Story"> Read More</a></p>
        </div>
    </div>
    <div class="work right">
        <img src="{% static 'images/homepage/membership.jpeg' %}">
        <div class="work_text" > 
            <p>An organisation membership registration app</p>
            <a href="#Story"> Read More</a></p>
        </div>
    </div> 
</section>