{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mainpages/sidenav/skills.css' %}">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<linkrel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<ul class="list">
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-html5"></i><h3>HTML</h3></div>
        <div class="progress-bar"><div class="html"><span>92%</span></div></div>
    </li>
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-css3"></i><h3>CSS</h3></div>
        <div class="progress-bar"><div class="css"><span>85%</span></div></div>
    </li>
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-square-js"></i><h3>JavaScript</h3></div>
        <div class="progress-bar"><div class="javascript"><span>90%</span></div></div>
    </li>
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-react"></i><h3>React.js</h3></div>
        <div class="progress-bar"><div class="react"><span>87%</span></div></div>
    </li>
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-angular"></i><h3>Angular</h3></div>
        <div class="progress-bar"><div class="angular"><span>70%</span></div></div>
    </li>
    <li class="list-item">
        <div class="skill"><i class="fa-brands fa-node-js"></i><h3>Node.js</h3></div>
        <div class="progress-bar"><div class="node"><span>75%</span></div></div>
    </li>
</ul>
