<!--THE MAIN HOMEPAGE-->


    {% load static %}
    <style>
        .about{height:300px;background-color: bisque;}
        .about .heading{text-align: center;width: 30%; }
        .about .heading hr{ margin: 0;}
        .about a{color:navy; font-weight: bold;}
        .about section{width: 90%; margin-left: 5%;}

    </style>
    <div class="about">
        <section>      
            <div class="heading"><h2>ABOUT ME</h2><hr></div> 
            <p> Names: Sylvie Mutuyimana </p>
            <p> Profession: Full Stack web Developer </p>
            <p> Occupation: Student</p>
            <p> Institution: <a href="#ALU">African Leadership University</a> </p>
            <p> Major: Computer Science </p>
            <p> Linkedin: <a href="#Linkedin">Sylvie Mutuyimana</a> </p>
            <p> Twitter: <a href="#Twitter">Sylvie Mutuyimana</a> </p>
        </section>
    </div>

